In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

In [3]:
sys.path.insert(0, '/usr/src/scripts')

In [37]:
from etl import *

In [42]:
etl = covid_etl('owid/owid-covid-data.csv')
df, new_y = etl.do()

KeyError: '[(944, 945, 946, 947, 948, 949)] not found in axis'

In [11]:
df.duplicated().sum()

0

In [34]:
new_y

     year  ...  new_deaths
0    2020  ...         0.0
1    2020  ...         0.0
2    2020  ...         0.0
3    2020  ...         0.0
4    2020  ...         0.0
..    ...  ...         ...
946     0  ...        19.0
947     0  ...        27.0
948     0  ...        32.0
949     0  ...        29.0
950     0  ...        34.0

[951 rows x 4 columns]

In [40]:
new_y.loc[(new_y.index > 943) & (new_y.index <== 950)]

     year  ...  new_deaths
944     0  ...        32.0

[1 rows x 4 columns]